{% extends "teacher/base_teacher.html" %}

{% block content %}
<h4 class="mb-4">My Class Attendance</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Class</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for a in records %}
        <tr>
            <td>{{ a.date }}</td>
            <td>{{ a.student.name }}</td>
            <td>{{ a.student.class_name }} {{ a.student.section }}</td>
            <td>
                {% if a.is_present %}
                    <span class="badge bg-success">Present</span>
                {% else %}
                    <span class="badge bg-danger">Absent</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
