{% extends "base.html" %}
{% block content %}

<h3>Admissions</h3>

<table border="1" cellpadding="8">
  <tr>
    <th>Student</th>
    <th>Class</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  {% for a in admissions %}
  <tr>
    <td>{{ a.student.first_name }} {{ a.student.last_name }}</td>
    <td>{{ a.class_applied }}</td>
    <td>
      <span>{{ a.admission_status }}</span>
    </td>
    <td>
      <a href="{% url 'admission:detail' a.id %}">View</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
